[Unit]
Description=Home Assistant
After=network-online.target

[Service]
Type=simple
User=homeassistant
WorkingDirectory=__PATH__
ExecStart=/opt/yunohost/homeassistant/bin/hass --config "__PATH__" --verbose

[Install]
WantedBy=multi-user.target 
