homeassistant:
  auth_providers:
   - type: command_line
     command: __DATA_PATH__/bin/ynh_ldap-auth.sh
     meta: true

http:
  server_port: __PORT__
  use_x_forwarded_for: True
  trusted_proxies:
    - 127.0.0.1
    - ::1

recorder:
  db_url: mysql://__DB_USER__:__DB_PWD__@127.0.0.1/__DB_NAME__?unix_socket=/var/run/mysqld/mysqld.sock&charset=utf8mb4
    
# Apply default set of integrations
default_config:

# Text to speech
tts:
  - platform: picotts

# Linked yaml files
automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml

# Switches
switch:
  - platform: command_line
    switches:   
      upgrade_homeassistant:
        command_on: "nohup bash -c __DATA_PATH__/bin/upgrade_homeassistant.sh $1 > /dev/null  2>&1 &"
        friendly_name: Upgrade Home Assistant
